@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #151515;
}

a {
  text-decoration: none;
}

.row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  width: 100%;
}

.row_center {
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

.row_dsktp {
  display: none;
}

@media screen and (min-width: 1024px) {
  .row_dsktp {
    display: flex;
  }
}

.col-sm-6 {
  width: 50%;
}

.col-sm-12 {
  width: 100%;
}

.col-dsktp {
  display: none;
}

@media screen and (min-width: 768px) {
  .col-md-6 {
    width: 50%;
  }

  .col-mob {
    display: none;
  }

  .col-dsktp {
    display: block;
  }
}

.wrap-main {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  width: 100%;
  max-width: 1210px;
  margin: 0 auto;
  padding: 15px 0;
  background-color: #fff;
  z-index: 2;
}

.header__call {
  color: #000;
  font-weight: 600;
}

.header__call img {
  vertical-align: middle;
  margin-right: 6px;
}

@media screen and (min-width: 1024px) {
  .header {
    position: static;
  }
}

.nav {
  width: 100%;
  padding: 0 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .nav {
    margin-top: 0;
    padding: 10px 15px;
  }
}

.nav__open {
  font-size: 30px;
  color: #151515;
  cursor: pointer;
}

.nav_mob {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
  text-align:center;
  background-color: #fff;
}

@media screen and (min-width: 1024px) {
  .nav__open,
  .nav_mob {
    display: none;
  }
}

.nav__item {
  display: block;
  margin: 20px 0;
  padding-bottom: 5px;
  font-size: 14px;
  position: relative;
}

.nav__item:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #151515;
  transform: scaleX(0);
  transition: transform .5s ease;
}

.nav__item:hover:before {
  transform: scaleX(1);
}

.nav__item:last-child:hover:before {
  transform: scaleX(0);
}

.nav__item img {
  vertical-align: middle;
}

.nav_deskt {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav_deskt {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
  }

  .nav__item {
    margin: 0;
    margin-left: 15px;
    display: inline-block;
  }
}

@media screen and (min-width: 1024px) {
  .nav__item {
    margin-left: 40px;
  }
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 40px;
  margin-left: 50px;
  color: #151515;
}

.heading-main {
  display: inline;
  color: #474747;
  font-size: 34px;
  font-weight: 700;
  border-bottom: 4px solid #ff9800;
}

@media screen and (min-width: 768px) {
  .heading-main {
    font-size: 55px;
  }
}

.wrap-top {
  padding-top: 130px;
}

@media screen and (min-width: 1024px) {
  .wrap-top {
    padding-top: 30px;
    margin-top: 70px;
    background: url('../img/people.svg') no-repeat top right 20px;
    background-size: 50%;
  }
}

@media screen and (min-width: 1366px) {
  .wrap-top {
    background-size: 53%;
  }
}

.txt-top {
  margin-top: 30px;
  font-size: 18px;
}

.txt-bngldsh {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: 0.165em;
}

.btn {
  display: block;
  width: 230px;
  height: 62px;
  line-height: 62px;
  color: #303030;
  text-align: center;
  font-weight: 600;
  border-radius: 60px;
  -webkit-transition: all ease-in 0.3s;
  transition: all ease-in 0.3s;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.btn_yellow {
  background: #ffdb1f;
  background: linear-gradient(221.27deg, #ffdb1f 36.83%, #fea800 87.34%);
}

.btn_yellow-border {
  background: transparent;
  border: 2px solid #ffc107;
}

.txt-dwnld {
  margin-top: 13px;
  font-size: 14px;
}

.txt-dwnld a {
  font-size: 14px;
  font-weight: 600;
  color: #feae6f;
}

.socials {
  margin-top: 50px;
}

.socials a {
  display: inline-block;
  margin-right: 20px;
}

.socials a:first-child {
  margin-left: 5px;
}

.img {
  display: block;
  width: 100%;
}

.wrap-top .img_mob {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 40px;
}

@media screen and (min-width: 1024px) {
  .img_mob {
    display: none;
  }
}

.mrgn-top_20 {
  margin-top: 20px;
}

.heading {
  color: #474747;
  font-size: 28px;
  font-weight: 700;
}

.heading_center {
  margin-top: 65px;
  text-align: center;
}

.heading__line {
  width: 101px;
  height: 6px;
  margin-top: 12px;
  margin-bottom: 18px;
  background-color: #ffbe06;
  border-radius: 7px;
}

.heading__line_center {
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 18px;
}

.row_about {
  margin-top: 80px;
}

@media screen and (min-width: 768px) {
  .row_about {
    margin-top: 150px;
  }

  .row_about:nth-child(2) .col-md-6:first-child {
    padding-right: 35px;
  }

  .row_about:nth-child(3) .col-md-6:nth-child(2) {
    padding-left: 35px;
  }
}

.row_about:nth-child(2) .img {
  max-width: 355px;
  margin: 0 auto;
  margin-top: 30px;
}

.row_about:nth-child(3) .img {
  max-width: 490px;
  margin: 0 auto;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .row_about:nth-child(3) .img {
    margin-top: 0;
  }
}

@media screen and (min-width: 1366px) {
  .row_about:nth-child(3) .img {
    margin-left: 40px;
  }
}

.row_shadow {
  padding: 15px;
  background: #FFFFFF;
  box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.08);
  border-radius: 19px;
}

.row_shadow .img {
  max-width: 380px;
  margin: 0 auto;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .row_shadow .img {
    margin: 0;
  }

  .row_shadow .col-md-6:nth-child(2) {
    padding: 25px 0 25px 25px;
  }
}

@media screen and (min-width: 1024px) {
  .row_shadow {
    padding: 65px 65px 65px 85px;
  }

  .row_shadow .col-md-6:nth-child(2) {
    padding: 0 0 0 25px;
  }
}

.wrap-grey {
  width: 100%;
  margin-top: 50px;
  padding: 50px 0;
  background-color: #fbfbfb;
  position: relative;
}

.wrap-grey:before {
  content: '';
  position: absolute;
  top: 100%;
  right: 0;
  width: 50%;
  height: 35px;
  background: linear-gradient(to right bottom, #fbfbfb 50%, transparent 50%)
}

.wrap-grey:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 50%;
  height: 35px;
  background: linear-gradient(to left bottom, #fbfbfb 50%, transparent 50%)
}

@media screen and (min-width: 768px) {
  .wrap-grey {
    margin-top: 130px;
    padding: 100px 0 120px 0;
  }
}

.slick-track {
  display: -webkit-flex !important;
  display: -ms-flex !important;
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  margin: 0 8px;
}

.slick-list {
  margin: 0 -10px;
  box-sizing: initial;
  padding: 25px 0;
}

.slick-dots {
  left: 0;
}

.slick-dots li {
  width: 13px;
  height: 13px;
}

.slick-dots li button:before {
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  background-color: #d3daed;
  border-radius: 50%;
  opacity: 1;
}

.slick-dots li.slick-active button:before {
  background-color: #ffbe06;
}

@media screen and (min-width: 768px) {
  .slick-dots {
    bottom: -60px;
  }

  .slick-dots li {
    width: 20px;
    height: 20px;
  }

  .slick-dots li button:before {
    width: 20px;
    height: 20px;
  }
}

.review {
  padding: 40px 30px 60px 30px;
  background: #fff;
  box-shadow: 0px 6px 10px rgba(171, 108, 13, 0.1);
  border-radius: 24px;
}

@media screen and (min-width: 1024px) {
  .review {
    padding: 60px 30px 65px 40px;
  }
}

.review__head {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 20px;
}

.review__img {
  width: 107px;
  height: 107px;
  border-radius: 50%;
}

.review__user {
  margin-top: 15px;
  margin-left: 25px;
}

.review__name {
  color: #000;
  font-weight: 600;
  font-size: 20px;
}

.review__position {
  color: #ff9800;
  font-weight: 600;
  font-size: 14px;
}

.heading_table {
  padding-top: 30px;
}

@media screen and (min-width: 767px) {
  .heading_table {
    padding-top: 70px;
  }
}

.table {
  max-width: 1040px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 20px;
  padding: 13px 6px;
  border-radius: 24px;
  border: 2px solid #ff9800;
  box-shadow: 0px 4px 25px rgba(171, 108, 13, 0.1);
}

.table-cell {
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  width: 33.33%;
  padding: 10px 5px;
  overflow: hidden;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #dce1f1;
}

.no-border {
  border-bottom: none;
}

.table-cell.cell-feature {
  text-align: left;
}

.cell-center {
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff1c9;
  border-bottom: none;
}

.table-cell.cell-full {
  width: 100%;
  background-color: #fff1c9;
  border-bottom: none;
}

@media screen and (max-width: 767px) {
  .table-cell.cell-feature {
    width: 100%;
    text-align: center;
  }

  .cell-feature {
    border-bottom: 1px solid #dce1f1;
  }
}

.cell-heading {
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  background-color: #fff1c9;
  border-bottom: none;
}

@media screen and (min-width: 768px) {
  .cell-heading {
    text-align: left;
  }

  .cell-pdng-left {
    padding-left: 35px;
  }
}

.wrap-light-orange {
  width: 100%;
  margin-top: 50px;
  padding: 50px 0;
  background-color: #fffCf3;
}

@media screen and (min-width: 768px) {
  .wrap-light-orange {
    margin-top: 140px;
    padding-bottom: 120px;
  }
}

p span {
  font-weight: 600;
}

.mrgn-top_55 {
  margin-top: 55px;
}

.wrap-light-orange .img {
  max-width: 350px;
  margin: 0 auto;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .wrap-light-orange .heading {
    margin-top: 63px;
  }
}

.wrap-rqrmnt {
  padding: 60px 15px;
}

.wrap-rqrmnt .img {
  max-width: 470px;
  margin: 0 auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .wrap-rqrmnt {
    padding: 100px 15px 145px 15px;
  }

  .wrap-rqrmnt .img {
    margin-left: 0;
    margin-bottom: 0;
  }

  .wrap-rqrmnt .col-md-6:last-child {
    padding-left: 25px;
  }
}

.wrap-orange {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 15px;
  background-color: #FFF5E6;
}

@media screen and (min-width: 768px) {
  .wrap-orange {
    padding: 90px 15px;
  }
}

.wrap-orange .heading {
  margin-bottom: 45px;
  text-align: center;
}

.flex-rqrmnt {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-top: 30px;
}

.flex-rqrmnt img {
  margin-top: 6px;
  margin-right: 10px;
}

input[type="radio"] {
	display: none;
}

.acc-box {
  max-width: 740px;
  margin: 0 auto;
	position: relative;
  margin-top: 10px;
}

.acc-box:before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}

.acc-title {
	width: 100%;
	padding: 15px 20px;
  display: -webkit-flex;
  display: -ms-flex;
	display: flex;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  font-size: 14px;
	cursor: pointer;
}

.acc-title img {
  width: 30px;
  margin-top: 6px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .acc-title img {
    width: 52px;
  }
}

.acc-title:hover {
  background-color: #fff;
  border-radius: 7px;
  font-weight: 600;
}

.acc-content {
	width: 100%;
  display: none;
	padding: 15px 25px;
  font-size: 14px;
}

.acc-closed {
	position: absolute;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	display: none;
}

input[type="radio"]:checked + .acc-box .acc-title {
	background-color: #fff;
  border-radius: 7px;
  font-weight: 600;
}

@-webkit-keyframes slide-down {
      0% { opacity: 0; transform: translateY(-10%); }
    100% { opacity: 1; transform: translateY(0); }
}

@-moz-keyframes slide-down {
      0% { opacity: 0; transform: translateY(-10%); }
    100% { opacity: 1; transform: translateY(0); }
}

@-o-keyframes slide-down {
      0% { opacity: 0; transform: translateY(-10%); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes slide-down {
      0% { opacity: 0; transform: translateY(-10%); }
    100% { opacity: 1; transform: translateY(0); }
}

input[type="radio"]:checked + .acc-box .acc-content,
input[type="radio"]:checked + .acc-box .acc-closed {
	display: block;
  -webkit-animation: .5s ease-out slide-down;
     -moz-animation: .5s ease-out slide-down;
       -o-animation: .5s ease-out slide-down;
          animation: .5s ease-out slide-down;
}

.wrap-contact {
  padding: 70px 15px;
}

@media screen and (min-width: 768px) {
  .wrap-contact {
    padding: 130px 15px 80px 15px;
  }
}

.wrap-contact .img {
  max-width: 510px;
  margin: 0 auto;
}

.wrap-contact .heading {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .wrap-contact .img {
    margin: 0;
  }

  .wrap-contact .heading {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .wrap-contact .col-md-6:last-child {
    padding-left: 25px;
  }
}

.form {
  display: block;
  max-width: 430px;
  margin-top: 25px;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 17px;
  font-size: 14px;
  color: #151515;
  background-color: #fff0c3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

.form textarea {
  height: 120px;
  margin-top: 10px;
  resize: none;
  overflow: auto;
}

::-webkit-input-placeholder {
  color: #151515;
}

::-moz-placeholder {
  color: #151515;
}

:-ms-input-placeholder {
  color: #151515;
}

:-moz-placeholder {
  color: #151515;
}

.captcha {
  margin: 12px 0;
}

.footer {
  width: 100%;
  margin-top: 45px;
  padding: 6px 0;
  background-color: #303030;
}

.footer p {
  color: #86869d;
  font-size: 14px;
}

.footer a {
  display: block;
  margin-top: 10px;
  text-align: right;
  color: #86869d;
  font-size: 14px;
}

.footer a:first-child {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .footer .col-md-6:last-child {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-justify-content: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
  }

  .footer a {
    width: 100%;
  }
}

@media screen and (min-width: 1366px) {
  .footer a {
    width: auto;
    margin-top: 0;
    margin-left: 50px;
  }
}
